

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Modern+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------ Barra de navegación ------------------------------------*/
.Barra {
    width: 100vw;
    height: 60px; /* Barra más alta */
    display: flex;
    background: rgba(33, 34, 37, 0.564);
    justify-content: space-around; /* Distribuye los botones horizontalmente */
    align-items: center; /* Centra verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 0 15%; /* Espacio en los laterales */
}

.nav-button {
    color: white;
    text-shadow: 2px 2px 6px black;
    background: none;
    border: 2px solid transparent;
    padding: 9px 30px; /* Más padding horizontal */
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1; /* Permite que los botones ocupen espacio igual */
    text-align: center;
    margin: 0 10px; /* Espacio entre botones */
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    transition: all .4s ease;
}

/*----------------------Estilos predeterminados-------------*/
h2{
    color: black;
    font-family: "DM Serif Display", serif;
    margin-bottom: 5px;
}

body{
    margin: 0px;
    background-color: black;
}
.Fondo_Por_Defecto{
  background-image: url('./imagenes/Noche_Estrellada2.jpeg'); /* Ruta a tu imagen */
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; 
  min-height: 100vw;;
  background-attachment: fixed;
}

/*----------------------Estilos De Bienvenida-------------*/
#Bienvenida{
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    height: 100vh;

}
.Fondo_Bienvenida{
  background-image: url('./imagenes/La_Caberna.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}
.ContenidoBienvenida{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color:white;
  text-shadow: 6px 6px 10px black;
  font-size: 4vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.Parrafos{
    margin-bottom: 30px;  
}

.Botones_Inicio {
  display: flex;
  justify-content: center;
}
  
/* From Uiverse.io by vikiWayne */ 
.button1 {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition: all 500ms;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
  background-color: #82B0D9;
  width: 40vh;
}

.button1:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.button1::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button1:hover::before {
  width: 250%;
}

/* From Uiverse.io by vikiWayne */ 
.button2 {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition: all 500ms;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
  background-color: #82B0D9;
  width: 40vh;
}

.button2:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.button2::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2caf42;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button2:hover::before {
  width: 250%;
}

  @media (max-width: 768px) {
  .nav-button {
    color: white;
    background: none;
    border: 2px solid transparent;
    padding: 9px 15px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
}

