@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Modern+Antiqua&family=Skranji:wght@400;700&display=swap');

/*-------------------- Estilos de creacion de personaje-----------------------*/
.Imagen_Fondo2{
    grid-row: 1;
    background-image: url('./imagenes/Armario.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
  .Encabezado{
    display:flex;
    grid-row: 1;
    justify-content: center;
    background-position: center;
    align-items: center;
    border-bottom: 3px solid black;
    background-color: rgba(0, 0, 0, .3);
    background-size: contain;
    height: 25vh;
}
.Cuerpo{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Text_Contenido_CreacionP{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Text_Bienvenida{
    display: flex;
    text-align: center;
    flex-direction: column;
    color:aliceblue;
    text-shadow: 2px 2px 6px black;
    font-size: 6vh;
    gap: 4px;
}
/* From Uiverse.io by alexruix */ 
.group {
    margin: 20px;
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 40vw;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    border: 2px solid #7948C5;
    background-color: #ffffff;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: rgba(0, 0, 0, 0.578);
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(155, 76, 234, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(184, 76, 234, 50%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }

  .Botones {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  /* Botón */
  .btn {
      margin: 10px;
      width: 50vh; /* Ajusta el tamaño del botón */
      height: 200px; /* Altura del botón */
      background-size: cover; /* Imagen de fondo ocupa todo el botón */
      background-position: center; /* Centra la imagen de fondo */
      border-radius: 20px;
      border: 2px solid #7948C5;
      font-size: 18px;
      color: white;
      text-decoration: none; /* Quita subrayados */
      display: flex;
      flex-direction: column; /* Alinea contenido en columna */
      justify-content: flex-end; /* Lleva el contenido (texto) al fondo */
      align-items: center; /* Centra horizontalmente el texto */
      position: relative; /* Necesario para posicionar el texto correctamente */
      overflow: hidden; /* Esconde cualquier contenido fuera de los bordes */
      box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5), -8px -8px 12px rgba(0, 0, 0, 0.6);
      transition: transform 0.3s ease;
      background-color: white;
  }
  
  /* Fondo negro para el texto */
  .Tex_Button {
      width: 100%; /* Ocupa todo el ancho del botón */
      height: 30px;
      padding: 5px;
      background: radial-gradient(circle, #3f035996, #69168cb9, #3c3473b2, #022340b5);
      color: white; /* Texto blanco */
      font-size: 18px;
      font-family: "Skranji", system-ui;
      text-align: center;
      position: absolute;
      bottom: 0; /* Ancla el texto al fondo del botón */
      left: 0; /* Se alinea al borde izquierdo */
      border-radius: 0px 0px 20px 20px; /* Ajusta bordes redondeados solo abajo */
  }
  
  .Fondo_DnD {
      background-image: url('./imagenes/Logo_D&D.jpeg'); 
      background-size: cover; 
      background-position: center; /* Centra la imagen */
  }
  
  .Fonto_Warhammer{
      background-image: url('./imagenes/Logo_Warhamer40K.jpeg'); 
      background-size: cover; 
      background-position: center;
  }
  
  .btn:hover {
      transform: scale(1.2); /* Escala el botón al pasar el mouse */
      z-index: 1;
  }
  .Fondo_EstamosTrabajando{
    background-image: url('./imagenes/Estamos_Trabajando2.jpeg'); 
    background-size: cover; 
    background-position: center;
  }
  .Enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 62px;
    margin: 30px;
    background: radial-gradient(circle, #3f0359d7, #69168ccb, #3c3473b6);
    border-radius: 20px;
    border: 2px solid black;
    transition: .5s ease;
  }
  .Botton_Enlaces{
  width: 100%;
  text-decoration: none;
  color: white; /* Texto blanco */
  font-size: 20px;
  font-family: "Modern Antiqua", serif;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  }
  .Enlaces:hover{
    scale: 1.1;
    background: radial-gradient(circle, #3f0359, #69168c, #3c3473);
    transition: all .5s ease;
  }

  @media (max-width: 768px) {
    
    .Text_Bienvenida{
        display: flex;
        text-align: center;
        flex-direction: column;
        color:aliceblue;
        text-shadow: 2px 2px 6px black;
        font-size: 4vh;
        gap: 4px;
  }
  .Botones {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
}

}
  
/* Estilo para el botón de agregar personajes */
.btn-agregar {
    background: linear-gradient(45deg, #3f0359, #69168c, #3c3473);
    position: relative;
    overflow: hidden;
    margin-top: 20px; /* Espacio adicional arriba para separarlo */
    max-width: 80%; /* Hacer el botón más ancho que los demás */
    border: 3px solid #7948C5;
}
.Fonto_Mas{
    background-image: url('./imagenes/Signo_mas5.jpeg'); 
    background-size: cover; 
    background-position: center center;
}

.btn-agregar::before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-size: 60px;
    color: rgba(255, 255, 255, 0.5);
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .btn-agregar {
        width: 90%;
    }
}
  
